{% extends "base.html" %}


{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<div class="header">
    <small class="text-muted">Current Date: {{ current_date }}</small>
</div>
<br>

<h2>Blog posts</h2> <br>

{% for post in posts %}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h4><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h4>
    <span>By:</span>
    <small class="text-muted">{{ post.author.name }} | {{ post.date_posted }} </small><br>
    <small class="text-muted">{{ post.author.email }} </small><br>
    <p>{{ post.content | safe }}</p>
    {% if post.author.about_author %}
    <p>{{ post.author.about_author }}</p>
    {%endif%}

    <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-info btn-sm">View Posts</a>
    
    {% if post.author_id == current_user.id %}
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}
    
</div>
{% endfor %}

{% endblock content %}